# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察標籤編碼與獨編碼熱的影響

# [作業重點]
- 回答在範例中的觀察結果
- 觀察標籤編碼與獨熱編碼, 在特徵數量 / 邏輯斯迴歸分數 / 邏輯斯迴歸時間上, 分別有什麼影響 (In[3], Out[3], In[4], Out[4])

# 作業1
* 觀察範例，在房價預測中調整標籤編碼(Label Encoder) / 獨熱編碼 (One Hot Encoder) 方式，  
對於線性迴歸以及梯度提升樹兩種模型，何者影響比較大?

對於線性回歸來說，one hot encoder的分數幾乎=0,估計是因為經過one hot之後數據已經不成線性，所以one hot 並不適用於線性回歸。

對於梯度提升來說，one hot encoder所得的分數會比label來的更高

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

data_path = ''
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

In [10]:
df

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S
5,"Moran, Mr. James",male,330877,None,Q
6,"McCarthy, Mr. Timothy J",male,17463,E46,S
7,"Palsson, Master. Gosta Leonard",male,349909,None,S
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,347742,None,S
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,237736,None,C
10,"Sandstrom, Miss. Marguerite Rut",female,PP 9549,G6,S
11,"Bonnell, Miss. Elizabeth",female,113783,C103,S
12,"Saundercock, Mr. William Henry",male,A/5. 2151,None,S
13,"Andersson, Mr. Anders Johan",male,347082,None,S
14,"Vestrom, Miss. Hulda Amanda Adolfina",female,350406,None,S
15,"Hewlett, Mrs. (Mary D Kingcome)",female,248706,None,S
16,"Rice, Master. Eugene",male,382652,None,Q
17,"Williams, Mr. Charles Eugene",male,244373,None,S
18,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,345763,None,S
19,"Masselmani, Mrs. Fatima",female,2649,None,C
20,"Fynney, Mr. Joseph J",male,239865,None,S
21,"Beesley, Mr. Lawrence",male,248698,D56,S
22,"McGowan, Miss. Anna ""Annie""",female,330923,None,Q
23,"Sloper, Mr. William Thompson",male,113788,A6,S
24,"Palsson, Miss. Torborg Danira",female,349909,None,S
25,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,347077,None,S
26,"Emir, Mr. Farred Chehab",male,2631,None,C
27,"Fortune, Mr. Charles Alexander",male,19950,C23 C25 C27,S
28,"O'Dwyer, Miss. Ellen ""Nellie""",female,330959,None,Q
29,"Todoroff, Mr. Lalio",male,349216,None,S
...,...,...,...,...,...
388,"Canavan, Mr. Patrick",male,364858,None,Q
389,"Palsson, Master. Paul Folke",male,349909,None,S
390,"Payne, Mr. Vivian Ponsonby",male,12749,B24,S
391,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,PC 17592,D28,S
392,"Abbott, Master. Eugene Joseph",male,C.A. 2673,None,S
393,"Gilbert, Mr. William",male,C.A. 30769,None,S
394,"Kink-Heilmann, Mr. Anton",male,315153,None,S
395,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,13695,C31,S
396,"Colbert, Mr. Patrick",male,371109,None,Q
397,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,13567,B41,C
398,"Larsson-Rondberg, Mr. Edvard A",male,347065,None,S
399,"Conlon, Mr. Thomas Henry",male,21332,None,Q
400,"Bonnell, Miss. Caroline",female,36928,C7,S
401,"Gale, Mr. Harry",male,28664,None,S
402,"Gibson, Miss. Dorothy Winifred",female,112378,None,C
403,"Carrau, Mr. Jose Pedro",male,113059,None,S
404,"Frauenthal, Mr. Isaac Gerald",male,17765,D40,C
405,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,SC/PARIS 2166,D38,C
406,"Ware, Mr. William Jeffery",male,28666,None,S
407,"Widener, Mr. George Dunton",male,113503,C80,C
408,"Riordan, Miss. Johanna Hannah""""",female,334915,None,Q
409,"Peacock, Miss. Treasteall",female,SOTON/O.Q. 3101315,None,S
410,"Naughton, Miss. Hannah",female,365237,None,Q
411,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,19928,C78,Q
412,"Henriksson, Miss. Jenny Lovisa",female,347086,None,S
413,"Spector, Mr. Woolf",male,A.5. 3236,None,S
414,"Oliva y Ocana, Dona. Fermina",female,PC 17758,C105,C
415,"Saether, Mr. Simon Sivertsen",male,SOTON/O.Q. 3101262,None,S
416,"Ware, Mr. Frederick",male,359309,None,S
417,"Peter, Master. Michael J",male,2668,None,C

# 作業2
* 鐵達尼號例題中，標籤編碼 / 獨熱編碼又分別對預測結果有何影響? (Hint : 參考今日範例)

對於羅吉斯迴歸來說，獨熱編碼會得到較高的分數

In [7]:
# 標籤編碼 + 羅吉斯迴歸

"""
Your Code Here
"""
df1 = pd.DataFrame()
for i in df.columns:
    df1[i]=LabelEncoder().fit_transform(df[i])
train_X1 = df1[:train_num]
estimator = LogisticRegression()
start = time.time()
print(f'shape: {train_X1.shape}')
print(f'score: {cross_val_score(estimator,train_X1,train_Y,cv=5).mean()}')
print(f'time: {time.time()-start} sec')

shape: (891, 5)
score: 0.780004837244799
time: 0.025943517684936523 sec

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [8]:
# 獨熱編碼 + 羅吉斯迴歸

"""
Your Code Here
"""
df2 = pd.get_dummies(df)
train_X2 = df2[:train_num]
estimator = LogisticRegression()
start = time.time()
print(f'shape: {train_X2.shape}')
print(f'score: {cross_val_score(estimator,train_X2,train_Y,cv=5).mean()}')
print(f'time: {time.time()-start} sec')

shape: (891, 2429)
score: 0.8013346043513216
time: 0.1216726303100586 sec

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)